.imageProcessorContainer {
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
}

.mainContent {
    display: flex;
    flex-direction: column;
}

.header {
    border-radius: 8px 8px 0 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    size: 18px;
    font-weight: 600;
    background-color: white;
    border: 1px solid #DBDBDB;
}

.cancelButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.primaryButton {
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    background-color: #12A3F8;
    color: white;
    width: 80px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s ease;
}

.primaryButton:hover {
    background-color: #187eb9;
}

.secondaryButton {
    cursor: pointer;
    padding: 8px 16px 8px 16px;
    background-color: white;
    border: 1px solid #DBDBDB;
    color: #12A3F8;
    width: 80px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s ease;
    margin-right: 12px;
}

.secondaryButton:hover {
    background-color: rgb(216, 216, 216);
}

.redoUndoButton {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 24px;
}

.applyButton, .revertButton {
    padding: 8px 16px 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    size: 16px;
    font-weight: 600;
    border-radius: 24px;
}

.applyButton:hover, .revertButton:hover {
    border: 1px solid #DBDBDB;
}

.redoUndoButton:hover {
    border: 1px solid #DBDBDB;
}

.footer {
    background-color: white;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    height: 56px;
}

.editTools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
}

.buttonCategory {
    display: flex;
    flex-direction: row;
}

.leftMenu{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 220px;
    border: 1px solid #DBDBDB;
    border-top: 1px solid transparent;
    border-radius: 0 0 0 8px;
    padding: 8px 16px 0 16px;
    position: relative;
}

.toolButton {
    padding: 8px 3px 8px 5px;
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;
}

.toolButton:hover {
    border: 1px solid #DBDBDB;
}

.activeLeftMenuToolText, .leftMenuToolText {
    font-weight: 500;
    size: 14px;
}

.activeLeftMenuToolText {
    color: #12A3F8;
}

.rightMenu{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 220px;
    border: 1px solid #DBDBDB;
    border-top: 1px solid transparent;
    border-radius: 0 0 8px 0;
    padding: 16px;
}

.resizeRightPanel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.saveConstrainResizeImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rotateFlipControls {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center;
}

.rotateControlsContainer, .flipControlsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rotateControlsNaming, .flipControlsNaming {
    font-weight: 600;
    size: 14px;
}

.rotateControls, .flipControls {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.flipRotateButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    min-height: 55px;
    height: 65px;
    aspect-ratio: 1 / 1;
    transition: background-color 0.2s ease;
}

.flipRotateButton:hover {
    background-color: rgb(216, 216, 216);
}

.rotateControls, .flipControls {
    display: flex;
    flex-direction: row;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
}

.filterGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 70vh;
    background-color: #F2F5F7;
    overflow: hidden;
    position: relative;
    max-width: 1000px;
}

.uploadedImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.elementsModal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 12px;
    z-index: 1;
    border-radius: 8px;
    padding: 12px;
    background-color: white;
    box-shadow: 0px 4px 12px 0px #6E6D7A29;
    box-shadow: 0px 0px 4px 0px #6E6D7A29;
}

.figureButton {
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.figureButton:hover {
    background-color: #DBDBDB;
}

.figureButtonText {
    size: 14px;
    font-weight: 500;
}

.textEditWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filterWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterButton {
    border: 1px solid transparent;
    border-radius: 8px;
}

.filterPreview {
    width: 74px;
    height: 74px;
}

.filterButton:hover {
    border: 2px solid #DBDBDB;
}

.filterButtonActive {
    border: 2px solid #12A3F8 !important;
}

.filterText {
    font-weight: 450;
    size: 14px;
    color: #7B828E;
}

.styleWrapper {
    display: flex;
    flex-direction: row;
}

.styleButton {
    height: 32px;
    width: 32px;
    border-radius: 8px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.styleButton:hover {
    border: 1px solid #DBDBDB;
}

.colorWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 24px;
}

.colorLabel, .colorChoose {
    size: 14px;
    font-weight: 500;
    align-content: center;
}

.colorInput {
    height: 34px;
    width: 34px;
    background-color: transparent;
}